.wrapper {
  width: 400px;
  margin: auto;
  display: grid;
  gap: 10px;
}

.canvas {
  border-radius: 10px;
  overflow: hidden;
  width: 400px;
  height: 400px;
  background-color: #{transparentize(black, 0.5)};
}
